 header .logo {background-image:url(/images/Icon.png); width:57px; height:57px; display:inline-block;margin-bottom: -8px; margin-right: 0px; margin-left:-5px;}
 header .logo-text {display: inline-block; font-size: 55px;}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (min-device-pixel-ratio: 1.5) {
        header .logo {background-image:url(/images/Icon@2x.png);}
}

body {
	background-color: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 200;
	color:#919191;
}

body.no-auth {
	background:url(/images/noauth_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:rgb(255,255,255);
}

h1 {
	font-weight: 300;
}

a {
	color:#919191;
}
.no-auth a {
	color:rgb(255,255,255);
}

#main article ul {
	padding:0;
	margin:0;
}

#main article ul li {
	background-color:#919191;
	color:#fff;
	border-radius:10px;
	padding:10px;
	list-style-type: none;
	margin:0 0 10px 0;
}

#main article ul li.is-you {
	background-color:#76d6ff;
}

#main, header, footer {
	padding:0;
	margin: 1em auto;
	max-width:800px;
	padding:10px;
}

#main {
	min-height:60vh;
}

#background-screen {
	position:absolute;
	height:100vh;
	width:100vw;
	top:0;
	left:0;
	background-color:rgba(0,0,0,.7);
	z-index:-1;
}